.Nome {
    color: black;
    background-color: red;
}
.Curso {
    color: black;
    background-color: red;
}
.DataNascimento {
    color: black;
    background-color: red;
}
.UltimaAtualizacao {
    color: black;
    background-color: red;
}

.Rotina {
    color:black;
    background-color: blue;
}
.Hobbies {
    color: black;
    background-color: greenyellow;
}

.BandasFavoritas{
    color:black;
    background-color: blue;
}

.SobreViajens {
    color: black;
    background-color: greenyellow;
}